mgt-login {
  --login-signed-in-hover-background: transparent;
}

.signed-out {
  padding: 4px 8px;
}

.signed-in {
  margin: 0px 10px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(51, 74, 95);
  z-index: 1;
  min-height: 50px;
}

.header .login {
  display: flex;
  width: auto;
  height: auto;
  box-sizing: border-box;
  flex-grow: 1;
  align-items: center;
  min-width: max-content;
}
