<mgt-agenda #myagenda group-by-day>
  <template data-type="event">
    <div class="tracking-tight shadow-md p-4 m-3">
      <div
        class="tracking-tight font-semibold cursor-pointer"
        data-props="[[@click: openWebLink, innerHTML: event.subject]]"
      ></div>
      <div
        class="tracking-tight"
        data-if="getDate(event.start.dateTime) == getDate(event.end.dateTime)"
        data-props="[[innerHTML: 'from ' + getTime(event.start.dateTime) + ' to ' + getTime(event.end.dateTime)]]"
      ></div>
      <div
        class="overflow-y-auto mt-3 p-1 bg-gray-200"
        data-if="event.body.content != ''"
        data-props="[[innerHTML: event.body.content]]"
        style='maxHeight: "150px"'
      ></div>
    </div>
  </template>
  <template data-type="no-data">
    <div class="tracking-tight text-center shadow-md p-4 mx-3">No events to show</div>
  </template>
</mgt-agenda>
