dist/
www/
lib/
assets/*.js

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
.cache/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# testing
coverage/
*.tgz
testResults/junit.xml

*-css.ts
*.tsbuildinfo
package-lock.json

# storybook
storybook-static/
custom-elements.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
