dist/
www/
lib/
assets/mgt.storybook.js
assets/mgt.preview.storybook.js

*~
*.sw[mnpcod]
*.log
*.lock
# explicitly allow yarn lock to facilitate pipeline caching of node_modules
!yarn.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
.cache/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# testing
coverage/
*.tgz
testResults/

*-css.ts
*.tsbuildinfo
package-lock.json

# storybook
storybook-static/
custom-elements.json
workbench.html