trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'
  demands: npm

steps:
  - task: NodeTool@0
    displayName: 'Use Node 12.*'
    inputs:
      versionSpec: '12.*'

  - task: Npm@1
    displayName: 'npm version'
    inputs:
      command: custom
      verbose: false
      customCommand: '--no-git-tag-version version $(baseVersionNumber).$(Build.BuildId)'

  - script: |
      npm install -g yarn lerna
      yarn
    displayName: Install dependencies
    retryCountOnTaskFailure: 5

  - script: |
      yarn build
    displayName: Build

  #- task: Npm@1
  #  displayName: 'npm test'
  #  inputs:
  #    command: custom
  #    verbose: false
  #    customCommand: test
  # - task: PublishTestResults@2
  #   displayName: 'Publish Test Results testResults/junit.xml'
  #   inputs:
  #     testResultsFiles: testResults/junit.xml
  #   condition: succeededOrFailed()
  # - task: PublishCodeCoverageResults@1
  #   displayName: 'Publish code coverage from $(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
  #   inputs:
  #     codeCoverageTool: Cobertura
  #     summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
  #     reportDirectory: '$(System.DefaultWorkingDirectory)/coverage'
  #   condition: succeededOrFailed()
  # - task: DeleteFiles@1
  #   displayName: 'Delete files from $(System.DefaultWorkingDirectory)'
  #   inputs:
  #     SourceFolder: '$(System.DefaultWorkingDirectory)'
  #     Contents: |
  #       .git
  #       node_modules
  #       coverage
  #       testResults
  #       .gitignore
  # - task: ArchiveFiles@2
  #   displayName: 'Archive $(Build.BinariesDirectory)'
  #   inputs:
  #     rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
  #     includeRootFolder: false
  #     archiveFile: '$(Build.ArtifactStagingDirectory)/mgt-$(baseVersionNumber).$(Build.BuildId).zip'
  # - task: PublishBuildArtifacts@1
  #   displayName: 'Publish Artifact: drop'
