.login-root {
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    z-index: 200;
    font-family: var(---default-font-family)
}

.login-root-button {
    border: none;
    padding: 0;
    margin: 0;
    background: 0 0;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
}

.login-header{
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.login-header-user {
    text-align: right;
    flex: 1 1 auto;
    padding-left: 20px;
}

.login-header-user-image-container {
    height: 35px;
    width: 35px;
    flex: 0 0 auto;
    padding-left: 11px;
    padding-right: 5px;
    box-sizing: content-box;
}

.login-user-image {
    height: 35px;
    width: 35px;
    border: 0;
    border-radius: 35px;
}

/* dropdown */

.login-dropdown-root {
    display: none;
}

.login-dropdown-root.show-dropdown {
    display: block;
}