<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>
  <script src="auth.js"></script>
  <script src="/build/mycomponent.js"></script>
  
</head>
<body>
  <!-- <script>
    Auth.initV2Provider();
  </script> -->

  <my-auth name='a974dfa0-9f57-49b9-95db-90f04ce2111a'></my-auth>
  
  <my-login></my-login>

  <my-day></my-day>

</body>
</html>
