<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

<h2>About</h2>

<p>Check out the <a href="https://github.com/microsoftgraph/aspnetcore-connect-sample" target="_blank">ReadMe</a> to learn more about this sample.</p>
<p>For more information about Microsoft Graph, see the <a href="https://developer.microsoft.com/en-us/graph/docs/concepts/overview" target="_blank">Documentation</a>.</p>
