
<h2>View Teams Messages</h2>

<mgt-teams-channel-picker></mgt-teams-channel-picker>
<mgt-get id="messagesGet" version="beta">
    <template data-type="value">
        <partial name="_TeamsMessage" />
    </template>
    <template data-type="loading">
        loading
    </template>
</mgt-get>

<script>
    const channelPicker = document.querySelector('mgt-teams-channel-picker');
    const messagesGet = document.getElementById('messagesGet');

    channelPicker.addEventListener('selectionChanged', e => {
        if (e.detail.length) {
            let channelId = e.detail[0].channel.id;
            let teamId = e.detail[0].team.id;
            messagesGet.resource = `teams/${teamId}/channels/${channelId}/messages/delta`;
        }
    });

    messagesGet.templateContext = {
        messageClick: (e, message, root) => {
            const reply = root.querySelector('.reply');
            reply.classList.toggle('hidden');
        }
    };

</script>