<nav class="flex flex-wrap items-center justify-between bg-gray-100 shadow-xl p-4">
    <div class="flex items-center flex-shrink-0 mr-6">
        <span class="font-semibold text-xl tracking-tight">MGT + Angular = <span role="img" aria-label="love">❤️</span></span>
    </div>
    <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
            <a routerLink="/" class="block mt-4 sm:inline-block sm:mt-0 hover:text-gray-600 mr-4">Home</a>
            <a routerLink="/profile" class="block mt-4 sm:inline-block sm:mt-0 hover:text-gray-600 mr-4">Profile</a>
            <a href="https://docs.microsoft.com/en-us/graph/toolkit/overview" rel="noopener noreferrer" target="_blank" class="block mt-4 sm:inline-block sm:mt-0 hover:text-gray-600 mr-4">MGT Docs</a>
            <a href="https://angular.io" rel="noopener noreferrer" target="_blank" class="block mt-4 sm:inline-block sm:mt-0 hover:text-gray-600 mr-4">Angular</a>
        </div>
        <div>
            <mgt-login></mgt-login>
        </div>
    </div>
</nav>

