html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  margin: 0px;
}

.story-mgt-root {
  height: 100%;
  width: 100%;
  position: relative;
}

.story-mgt-preview {
  position: relative;
  height: 100%;
  width: calc(50% - 0.5px);
  float: left;
  overflow: auto;
}

.story-mgt-editor {
  width: calc(50% - 0.5px);
  height: 100%;
  position: relative;
  float: left;
}

.story-mgt-separator {
  cursor: ew-resize;
  background-color: rgb(37, 37, 38);
  position: relative;
  width: 1px;
  height: 100%;
  float: left;

  /* prevent browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.story-mgt-separator:after {
  content: '';
  display: block;
  height: 100%;
  width: 8px;
  position: absolute;
  left: -3px;
  z-index: 10;
}

@media (max-width: 800px) {
  .story-mgt-preview {
    height: calc(50% - 0.5px);
    width: 100%;
  }

  .story-mgt-editor {
    height: calc(50% - 0.5px);
    width: 100%;
  }

  .story-mgt-separator {
    cursor: ns-resize;
    width: 100%;
    height: 1px;
  }

  .story-mgt-separator:after {
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    top: -3px;
  }
}
