@import '../../styles/shared-styles.scss';
@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';

:host {
  font-family: var(--default-font-family, 'Segoe UI');
  display: flex;
  flex-direction: column;
}

:host .TaskIcon {
  font-family: 'FabricMDL2Icons';
  text-align: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Header {
  padding: var(--tasks-header-padding, 0px 10px 0 10px);
  margin: var(--tasks-header-margin, 0 0 10px 0);
}

.TaskIcon.Divider {
  vertical-align: initial;
}

.Header .PlannerTitle {
  padding: var(--tasks-title-padding, 0px 0px 0px 0px);
  display: flex;
  align-items: center;
  align-content: center;
}

:host select {
  font-family: var(--default-font-family, 'Segoe UI');
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

:host select::-ms-expand {
  display: none;
}

:host .PlannerTitle select,
.Header .PlannerTitle .PlanTitle {
  font-family: var(--default-font-family, 'Segoe UI');
  font-size: var(--tasks-plan-title-font-size, 1.1em);
  padding: var(--tasks-plan-title-padding, 5px);
}

.Header .AddBar {
  display: flex;
}

.Header .AddBar .AddBarItem {
  flex: 1 1 auto;
}

.Header .NewTaskDue {
  display: flex;
}

.Header .NewTaskDue input {
  flex: 1 1 auto;
}

.Header .TitleCont {
  flex: 1 1 auto;
  height: var(--tasks-new-button-height, 34px);
}

.Header .NewTaskButton {
  flex: 0 0 auto;
  display: inline-block;
  width: var(--task-new-button-width, 90px);
  height: var(--tasks-new-button-height, 32px);
  max-width: 90px;
  min-width: 90px;
  line-height: 200%;

  text-align: center;
  align-content: center;
  align-self: center;
  vertical-align: middle;
  justify-self: flex-end;

  background: var(--tasks-new-button-background, #0078d4);
  border: var(--tasks-new-button-border, solid 1px rgba(0, 0, 0, 0));
  color: var(--tasks-new-button-color, #ffffff);

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: pointer;
}

.Header .NewTaskButton:hover {
  background: var(--tasks-new-button-hover-background, #0091ff);
}

.Header .NewTaskButton:active {
  background: var(--tasks-new-button-active-background, #00508d);
}

.NewTaskName {
  margin: var(--task-new-name-margin, 0 130px 0 0);
}

.Task {
  display: block;
  margin: var(--task-margin, 0 10px 10px 10px);
  padding: var(--task-padding, 0 0 8px 0);
  box-shadow: var(--task-box-shadow, 0px 2px 8px rgba(0, 0, 0, 0.092));
  background: var(--task-background, #ffffff);
  // border: var(--task-border, solid 2px rgba(0, 0, 0, 0));
}

.Task.NewTask {
  display: flex;
  min-height: 90px;
  margin: var(--task-new-margin, var(--task-margin, 0 10px 10px 10px));
}

.Task.NewTask .InnerTask {
  flex: 1 1 auto;
  align-content: center;
  vertical-align: middle;
}
.Task.NewTask .TaskTitle {
  display: flex;
}
.Task.NewTask .TaskTitle input {
  flex: 1 1 auto;
  font-family: var(--default-font-family, 'Segoe UI');
  margin: var(--task-new-input-margin, 6px);
  padding: var(--task-new-input-padding, 7px);
  font-size: var(--task-new-input-font-size, 1.2em);
  border: var(--task-new-border, none);
}
.Task.NewTask .TaskTitle input:active {
  border: var(--task-new-input-active-border, none);
}

.Task.NewTask hr {
  margin: var(--task-new-line-margin, 0 15px 0 15px);
  border-top: var(--task-new-line-border, solid 2px #d8d8d8);
}

.Task.NewTask .TaskDetails {
  flex: 0 0 auto;
  margin: 10px;
}

.Task.NewTask .TaskDetails select,
.Task.NewTask .TaskDetails input {
  font-family: var(--default-font-family, 'Segoe UI');
  border: var(--task-new-select-border, none);
}

.Task.NewTask .TaskAddCont {
  flex: 0 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.Task.NewTask .TaskAddCont .TaskAdd,
.Task.NewTask .TaskAddCont .TaskCancel {
  height: 100%;
  max-width: 50px;
  min-width: 50px;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  color: white;
}

.Task.NewTask .TaskAddCont .TaskAdd {
  background: var(--task-new-add-button-background, #0078d4);
}

.Task.NewTask .TaskAddCont .TaskCancel {
  font-family: 'Segoe UI';
  color: var(--task-new-cancel-button-color, gray);
  margin: 0px 8px 0px 0px;
}

.Task.NewTask .TaskAddCont.Disabled .TaskAdd {
  background: var(--task-new-add-button-disabled-background, #eaeaea);
  cursor: default;
}

.Task .TaskDetails {
  display: flex;
}

.Task.Complete {
  background: var(--task-complete-background, #f6f6f6);
  border-color: var(--task-complete-border, #e2e2e2);
}

.Task.Complete .TaskHeader {
  color: var(--task-complete-header-color, #959595);
}

.Task.Complete .TaskDetails {
  color: var(--task-complete-detail-color #b0b0b0);
}

.Task.Complete .TaskDetails .TaskIcon {
  color: var(--task-compete-detail-icon-color, #959595);
}

.Task .TaskDetail {
  align-items: center;
  align-content: center;
}

.Task .TaskDetail .TaskIcon {
  margin: var(--task-detail-icon-margin 0 8px 0 0);
}

.Task .TaskHeader {
  display: flex;
  justify-content: center;
  color: var(--task-header-color, #333333);
  margin: var(--task-header-margin, 0 0 0 10px);
}

.Task.ReadOnly .TaskCheckCont {
  cursor: default;
}

.Task .TaskCheckCont {
  font-family: 'FabricMDL2Icons';
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  border-radius: 50%;
  flex: 0 0 auto;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Task .TaskCheckCont.Complete .TaskCheck {
  background: #00b294;
  border-color: #00b294;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.Task .TaskCheck {
  flex: 1 1 auto;
  font-family: 'FabricMDL2Icons';
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  border: solid 1px #666666;
  flex: 0 0 auto;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Task .TaskCheck.Loading {
  color: black;
  animation: rotateIcon 2s infinite linear;
}

.Task .TaskTitle {
  flex: 1 1 auto;
  justify-self: center;
  align-self: center;
  align-content: center;
  color: #333333;
}

.Task .TaskDetails {
  margin: 4px 0 0 50px;
  color: #767676;
  font-size: 0.9em;
}

.Task .TaskDetails .TaskDetail {
  margin: 0 20px 0 0;
}

.Task .TaskDetails .TaskIcon {
  color: #333333;
}

.Task .TaskDetails mgt-person {
  display: inline-block;
}

.Task .TaskDelete {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 10px 0 0;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
