@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@if (User.Identity.IsAuthenticated)
{
    <div>Signed in User: <mgt-person person-query="me" view="oneline"></mgt-person></div>
    
    <mgt-people-picker></mgt-people-picker>

    <mgt-agenda></mgt-agenda>
}
</div>
