@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';
@import '../../styles/shared-styles.scss';

.header {
  margin: var(--agenda-header-margin, 40px 10px 14px 10px);
  font-family: var(--default-font-family);
  font-size: 24px;
  color: #333333;
}

.agenda > .group:first-child > .header {
  margin-top: 0;
}

.agenda-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #000000b7;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: normal;
}

.event {
  background: var(--event-background, #ffffff);
  border: var(--event-border, solid 2px rgba(0, 0, 0, 0));
  box-shadow: var(--event-box-shadow, 0px 2px 8px rgba(0, 0, 0, 0.092));
  margin: var(--event-margin, 0px 10px 14px 10px);
  padding: var(--event-padding, 0px);
  display: flex;
}

.narrow .event {
  flex-direction: column;
}

.event-time-container {
  display: flex;
  flex-direction: column;
  margin: 18px 38px 18px 18px;
  width: 120px;
}

.narrow .event-time-container {
  margin: 14px 18px 8px 18px;
}

.event-time {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.event-duration {
  color: rgba(16, 16, 16, 0.3);
}

.event-details-container {
  margin: 14px 18px 14px 0px;
}

.narrow .event-details-container {
  margin: 0px 18px 14px 18px;
}

.event-subject {
  margin: 0px 18px 0px 0px;
  font-size: 19px;
  color: #333333;
}

.event-location-container {
  display: flex;
  margin: 8px 18px 0px 0px;
}

.event-location {
  font-size: 12px;
  color: #000000;
  margin: 0px 0px 0px 4px;
}

.event-attendee-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
}

.event-attendee {
  margin: 0px 4px 0px 0px;
  --avatar-size-s: 20px;
}

.event-other-container {
  margin: 2px 16px 4px 16px;
  margin-left: auto;
}

// loading style

.loading-element {
  background: #f2f2f2;
  border-radius: 1px;
}

.event-time-loading {
  width: 100px;
  height: 10px;
}

.event-subject-loading {
  width: 263px;
  height: 16px;
}

.event-location-icon-loading {
  width: 14px;
  height: 14px;
}

.event-location-loading {
  width: 90px;
  height: 10px;
  margin: 2px 0px 0px 4px;
}

.event-attendee-loading {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 2px 0 0;
}
