@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';
@import "../../styles/shared-styles.scss";

:host {
  --list-margin: 8px 0px 8px 8px;
  --avatar-spacing: 0px 0px 0px 0px;
}

.people-list {
  list-style-type: none;
  margin: var(--list-margin);
  padding: 0;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: normal;
  display: flex;
}

.people-person {
  margin: var(--avatar-spacing);
  display: flex;
}
