@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';
@import '../../styles/shared-styles.scss';

$list-margin: var(--list-margin, 8px 4px 8px 8px);
$avatar-spacing: var(--avatar-spacing, 0 4px 0 0);

.people-list {
  list-style-type: none;
  margin: $list-margin;
  padding: 0;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: normal;
  display: flex;
}

.people-person {
  margin: $avatar-spacing;
  display: flex;
}
