<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewBag.Current = "Home";
}

    <div class="jumbotron">
        <h1>ASP.NET Microsoft Graph Toolkit Tutorial</h1>
        <p class="lead">This sample app shows how to use the Microsoft Graph Toolkit with ASP.NET</p>
        @if (Request.IsAuthenticated)
        {
            <h4>Welcome @ViewBag.User.DisplayName!</h4>
            <p>Use the navigation bar at the top of the page to get started.</p>

            <h4>People</h4>
            <p>These are the people you work with the most</p>
            <mgt-people>
                <template>
                    <div data-for="person in people">
                        <mgt-person person-details="{{person}}" fetch-image view="twolines" person-card="hover"></mgt-person>
                    </div>
                </template>
            </mgt-people>
        }
        else
        {
            @Html.ActionLink("Click here to sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
        }
    </div>
