@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';
:host {
  --font-size: #{$ms-font-size-m};
  --font-weight: #{$ms-font-weight-semibold};
  --color: #{$ms-color-neutralDark};
}

img,
svg,
.person-initials-container {
  width: 24px;
  height: 24px;
}

img {
  border: 0;
  border-radius: 50%;
}

.root {
  position: relative;
  display: flex;
  align-items: center;
  font-family: var(--default-font-family);
}

.user-avatar {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.user-name {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  white-space: nowrap;
}

.person-initials-container {
  height: 100%;
  width: 100%;
  background-color: brown;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 46px;
  vertical-align: baseline;
  text-align: center;
  position: relative;
  font-family: var(--default-font-family);
}

.person-initials-container span {
  vertical-align: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
