#outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

#table-container {
  height: 100%;
  width: 100%;
  display: table;
  top: 50%;
}

#table-cell {
  vertical-align: middle;
  height: 100%;
  display: table-cell;
  padding-left: 280px;
  padding-top: 50px;
}
