@page "/"



<h2>Hello, MGT world!</h2>

<p>
    Welcome to your new app. It uses the Microsoft Graph Toolkit to log you in and shows details for your user.
    <br />
    Click on the sign in button to login. The very first time the pop up will ask you for consent for your Azure AD app.
</p>

<div>
    <mgt-teams-provider 
        client-id="%YOUR_CLIENT_ID%"
        auth-popup-url="%YOUR_AUTHPAGE%"
        authority="https://login.microsoftonline.com/%YOURTENANT_NAME%.onmicrosoft.com">
    </mgt-teams-provider>
    <mgt-login></mgt-login>
    <mgt-person-card person-query="me"></mgt-person-card>
</div>
<div>
    <mgt-agenda
        group-by-day
        date="October 18, 2020"
        days="3"
     ></mgt-agenda>
</div>


