# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# Tests are executed and coverage reports are emitted as to the action summary
# A dependent workflow which uses workflow_run as a trigger reads the archived outputs and emits comments to the PR triggering this build

name: Build pr

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, release/**, next/**]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g lerna
      - name: Install node_modules
        run: yarn
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
      - run: node scripts/setVersion.js --next
      - run: yarn build
      - run: yarn lint
      - run: yarn test
      - name: Archive test results
        uses: actions/upload-artifact@v2 # upload test results
        if: always() # run this step even if previous step failed
        with:
          name: test-results
          path: testResults/junit.xml
      - name: Archive coverage report
        uses: actions/upload-artifact@v2 # upload coverage report
        if: always() # run this step even if previous step failed
        with:
          name: coverage
          path: coverage/cobertura-coverage.xml
      - name: Archive coverage lcov.info
        uses: actions/upload-artifact@v2 # upload coverage lcov.info
        if: always() # run this step even if previous step failed
        with:
          name: coverage
          path: coverage/lcov.info

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/cobertura-coverage.xml
          badge: true
          format: 'markdown'
          output: 'both'

      - name: Write to Job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

  # The check-build-matrix returns success if all matrix jobs in build are successful; otherwise, it returns a failure.
  # Use this as a PR status check for GitHub Policy Service instead of individual matrix entry checks.
  check-build-matrix:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
      - name: All build matrix options are successful
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: One or more build matrix options failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

  # Configuration to run a SonarCloud analysis on main, release and next branches
  sonarcloud:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v2
        with:
          name: coverage
          path: coverage/lcov.info

      - name: Run sonar cloud analysis
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
