# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build pr

on:
  pull_request:
    branches: [main, release/**, next/**]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g yarn
      - run: yarn
      - run: node scripts/setVersion.js --next
      - run: yarn run tsc -v
      - run: yarn build
      - run: yarn run pack

      - name: Upload a Build Artifact - package
        uses: actions/upload-artifact@v2
        with:
          name: npm-packages
          path: artifacts/*

      - name: Upload a Build Artifact - bundle
        uses: actions/upload-artifact@v2
        with:
          name: bundle
          path: packages/mgt/dist/bundle

  # The check-build-matrix returns success if all matrix jobs in build are successful; otherwise, it returns a failure.
  # Use this as a PR status check for GitHub Policy Service instead of individual matrix entry checks.
  check-build-matrix:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
      - name: All build matrix options are successful
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: One or more build matrix options failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
