# when the main branch is updated this workflow will run and create or update a combined [release PR](https://github.com/googleapis/release-please#whats-a-release-pr)
# upon approval of the release PR as it adds a v3.x tag the [push-release.yml](./push-release.yml) workflow will run, push the release to npm
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write

name: Run Release Please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{secrets.RELEASE_PLEASE_TOKEN}}
